frontend/node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo
frontend/.env
backend/.env
backend/*.exe
backend/*.exe~
backend/bin/*.exe
backend/bin/*.exe~
backend/engine-rust/target/
backend/bin/engine-rust.exe
.aurora/
